__pycache__/
*.pyc
*.pyo

library.db
library.db-wal
library.db-shm
container-library.db
container-library.db-wal
container-library.db-shm

venv/
.venv/
.env

observability/grafana-storage/
observability/tempo-data/

.DS_Store
